{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="sign-up-section">
  <div class="sign-up-container">
      <h1>{% trans "Sign Up" %}</h1>
      <h3>{% blocktrans %}Already have an account? <a class="link"
          href="{{ login_url }}">Log In</a>{% endblocktrans %}</h3>
      <form class="signup sign-up-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <label for="id_username"><iconify-icon icon="material-symbols:asterisk" style="color: red;" width="12" height="12"></iconify-icon>
          Username</label>
          {{ form.username }}
          {{ form.username.errors }} 
          <label for="id_email"><iconify-icon icon="material-symbols:asterisk" style="color: red;" width="12" height="12"></iconify-icon>
            Email address</label>
            {{ form.email }}
            {{ form.email.errors }} 
            <label for="id_password1"><iconify-icon icon="material-symbols:asterisk" style="color: red;" width="12" height="12"></iconify-icon>
              Password</label>
              {{ form.password1 }}
              {{ form.password1.errors }}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu password-rules">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
              <label for="id_password2"><iconify-icon icon="material-symbols:asterisk" style="color: red;" width="12" height="12"></iconify-icon>
                Confirm password</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
          <button class="sign-up-btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
</section>
{% block scripts %}
<script>
  function toggleDropdown() {
    var dropdown = document.getElementById("dropdownContent");
    dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
  }
</script>
{% endblock %}
{% endblock %}