/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Adding asterisk to override default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/* Generic styling */
body {
    background-color: #fff;
}

h1 {
    color: #343356;
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* Main content */
main {
    /* Makes main element large enough to push the footer down */
    flex: 1 0 auto;
    /* Enables child element to have flex properties */
    display: flex;
    flex-direction: column; /* Adjust the padding as needed based on the height of the messages container */
}

section {
    min-height: 100vh;
}

/* Navbar */
nav {
    background-color: #343356;
    z-index: 100;
}

nav a.active {
    text-decoration: underline;
    color: #fff !important;;
}
nav a:hover {
    color: #fff !important;;
}


.navbar-brand,
.navbar-nav a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.7rem;
}

.nav-display {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.navbar-style-toggler {
    width: 1rem;
    font-size: 1rem;
    background-color: transparent;
}

/* Bootstrap alert messages */
.container.messages {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.alert {
    width: 30rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/* Buttons styling */
.sign-up-btn,
.reset-btn,
.watch-trailer-btn,
.book-now-btn,
.go-back-home-btn,
.my-bookings-btn,
.log-out-btn,
.pw-reset-input,
.forgot-password-btn,
.log-in-btn,
.see-my-bookings-btn,
.edit-btn,
.delete-btn,
.update-btn,
.book-btn {
    display: inline-block;
    color: #fff;
    background: #343356;
    transition: .3s ease-in-out;
    margin-bottom: 1rem;
    width: 15.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 700;
    padding: .4rem;
}

.forgot-password-btn,
.see-my-bookings-btn,
.go-back-home-btn {
    padding: .5rem;
}

.see-my-bookings-btn {
    color: #343356;
    background-color: #fff;
}

.my-bookings-btn {
    color: #343356;
    background-color: #fff;
}

.sign-up-btn:hover,
.log-in-btn:hover,
.forgot-password-btn:hover,
.reset-btn:hover,
.watch-trailer-btn:hover,
.go-back-home-btn:hover,
.see-my-bookings-btn:hover,
.delete-btn:hover,
.log-out-btn:hover,
.my-bookings-btn:hover {
    background-color: #fff;
    color: #343356;
    border: 2px solid #343356;
}

/* Authorization pages */
.sign-up-container,
.log-in-container,
.log-out-container,
.pw-reset-container,
.pw-reset-confirm-container,
.new-pw-container,
.error-page {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    position: relative;
    top: 35px;
}

.log-in-container,
.pw-reset-container,
.pw-reset-confirm-container,
.new-pw-container,
.log-out-container,
.error-page {
    position: relative;
    top: 100px;
}

/* Styling for errors */
.error-container {
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    max-width: 18rem;
    font-size: .8rem;
    font-weight: 600;
    color: red;
    margin: auto; 
}

.error-container ul {
    list-style-type: none;
    padding: 0; 
}

/* Authorisation containers styling */
.sign-up-container h1,
.log-in-container h1,
.pw-reset-container h1,
.pw-reset-confirm-container h1,
.new-pw-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.sign-up-container h2,
.log-in-container h2,
.pw-reset-container h2,
.pw-reset-confirm-container h2,
.log-out-container h1 {
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #343356;
}

.sign-up-container h2 a,
.log-in-container h2 a{
    text-decoration-line: underline;
    color: #343356;
}

/* Forms styling */
.sign-up-form,
.log-in-form,
.new-pw-form,
.form-group,
.pw-reset-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-form label,
.log-in-form label,
.pw-reset-container label,
.new-pw-form label {
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: auto;
    margin-bottom: .5rem;
}

.sign-up-form input,
.log-in-form input,
.pw-reset-container input,
.new-pw-form input {
    width: 17rem;
    height: 2.1rem;
    border-radius: 0.5rem;
    border: 2px solid #343356;
    margin-bottom: 1.5rem;
    padding: .8rem;
    cursor: default;
    font-size: .85rem;
}

/* Password rules styling */
.dropdown {
    margin-bottom: 1rem;
}

.password-button {
    width: 17rem;
    padding: .5rem;
    color: #343356;
    border: 2px solid #343356;
    cursor: pointer;
}

.password-rules {
    width: 17rem;
    border-radius: 0.5rem;
    list-style: none;
    background-color: #fff;
    border: 2px solid #343356;
}

.password-rules li {
    font-size: .9rem;
    padding: .5rem;
}

/* Password reset and log out styling */
.pw-reset-container p,
.pw-reset-confirm-container p {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 1.7rem;
}

.log-out-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #343356;
    margin-bottom: 1.5rem;
}

.log-out-container p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* Home page */
.home-box {
    position: relative;
    width: 100%;
    height: 15rem;
    background: url('https://res.cloudinary.com/du7wcneib/image/upload/v1700690121/static/images/hero-image.3a4bda363228.jpg') no-repeat center;
    background-size: cover;
}

.home-text-content {
    background-color: rgba(0, 0, 0, .6);
    height: 15rem;
    padding-left: .5rem;
    padding-top: 4rem;
    margin-top: 2rem;
}

.home-text-content h1,
.home-text-content .intro {
    padding-left: 1rem;
    font-weight: 700;
}

.home-text-content h1 {
    color: #FFF;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.home-text-content .intro{
    font-size: .9rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, .6);
    max-width: 20rem;
}

/* "My bookings" btn styling */
.my-bookings-btn {
    width: 11rem;
    height: 2.2rem;
    margin-left: 1rem;
    text-align: center;
    font-size: .9rem;
}

/* Styles all the  */
.home-container {
    position: relative;
    padding: 2rem;
    background-color: #000;
}

.home-container h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

/* Movie container styling */
.movie-box,
.movie-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.movie-content img {
    width: 10rem;
    aspect-ratio: 2/3;
    object-fit: contain;
}

.movie-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.movie-text-content h2 {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .5rem;
    margin-bottom: .5rem;
}

.movie-text-content h3 {
    font-size: .7rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 3rem;
}

.movie-info-box p {
    font-size: .8rem;
    color: #fff;
    min-width: 19rem;
    margin-top: 1rem;
    margin-left: .3rem;
}

/* Movie-box btns styling */
.book-now-btn,
.watch-trailer-btn {
    width: 7.5rem;
    height: 2rem;
    font-size: .7rem;
    font-weight: 600;
}

.book-now-btn,
.book-btn,
.update-btn {
    background-color: #4b49bd;
    color: #fff;
    margin-bottom: .5rem;
}

.book-now-btn:hover,
.book-btn:hover,
.update-btn:hover {
    color: #4b49bd;
    background-color: #fff;
    margin-bottom: .5rem;
}

/* Footer styling */
#social-media {
    position: fixed; 
    bottom: 0px;
    width: 100%;
    padding: .7rem;
    background-color: #343356;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;  
}

#social-media i {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 1rem;
}

/* Booking page */
.booking {
    background-color: #000;
}
.booking-container {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
}

.movie-container label{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Styles dropdown with movies */
.movie-container select {
    min-width: 19rem;
    height: 3rem;
    font-size: .7rem;
    background-color: #000;
    border-radius: 0.625rem;
    color: #fff;
    padding: .7rem;
}

/* Styles set input, label and p element */
.seats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seats label {
    color: #fff;
    margin-bottom: 1rem;
}

.seats input {
    width: 15rem;
    height: 2rem;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: .7rem;
    padding: .7rem;
    color: #fff;
}

.seats p {
    color: #fff;
    font-size: .8rem;
    margin-top: 1rem;
}

/* Styles date and time dropdowns */
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.select-box label {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    margin-top: 1rem;
}

.select-box select{
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 0.625rem;
    background: #2F2D72;
    text-align: center;
    padding: .5rem;
}

/* Styles total-price and buttons */
.total-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 2rem;
    margin-top: 1rem;
}

.total-text h2{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.book-btn,
.update-btn {
    width: 8rem;
    height: 2.2rem;
    font-size: .8rem;
}

/* Profile page */
.profile {
    background-color: #000;
}

.profile-container {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.profile-container img {
    width: 4.5rem;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    gap: 1rem;
}

.user-info {
    max-width: 10rem;
    padding: .4rem;
}

.user-info h1, h2{
    color: #fff;
}

.user-info h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.user-info h2 {
    font-size: 0.8125rem;
    font-weight: 500;
}

.bookings-heading {
    margin-top: 2rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Styles bookings in the profile */
.bookings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.bookings-box {
    padding: 1.4rem;
}

.bookings-box h3{
    margin-bottom: 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
}

.booking-info {
    position: relative;
    width: 18.5rem;
    height: 10rem;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
}

/* Adds overlay for contrast */
.overlay {
    position: absolute;
    background: rgba(0,0,0,0.65); 
    padding: 1rem;
    width: 18.5rem;
    height: 10rem;
}

.overlay h2 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.overlay h3 {
    font-size: .9rem;
    font-weight: 600;
    color: #fff; 
}

/* Styles total price and buttons */
.total-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-info h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .6rem;
    color: #fff;
}

.booking-btn-group {
    display: flex;
    gap: .5rem;
    margin-top: .6rem;
}

.edit-btn,
.delete-btn {
    width: 5rem;
    height: 2rem;
    flex-shrink: 0;
    text-align: center;
    font-size: .75rem;
    font-weight: 700;
}

.edit-btn {
    background-color: #fff;
    color: #343356;
}

.edit-btn:hover {
    background-color: #343356;
    color: #fff;
}

/* Styles "No bookings yet" container */
.no-bookings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.no-bookings h4 {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.book-movie-btn {
    width: 9rem;
    height: 2.2rem;
    color: #fff;
    background-color: #4b49bd;
    color: #fff;
    transition: .3s ease-in-out;
    font-weight: 600;
}

.book-movie-btn:hover  {
    color: #4b49bd;
    background-color: #fff;
}

/* Successful booking page */
.successful_booking {
    background-color: #000;
}

.booking-confirm {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.booking-confirm h1 {
    text-align: center;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.booking-confirm span {
    color: #59B312;
}

/* Media queries */
@media screen and (min-width: 768px) {
    .movie-info-box {
        font-size: .8rem;
        color: #fff;
        max-width: 26rem;
        margin-top: 1rem;
        margin-left: .3rem;
    }

    .sign-up-log-in-btn-group {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .movie-text-content h2 {
        font-size: 1rem;
    }
    
    .movie-text-content h3 {
        font-size: .9rem;
        margin-top: 1rem;
    }

    .movie-info-box img {
        width: 30%;
    }

    .movie-info-box p {
        font-size: .7rem;
    }

    .movie-container select {
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    .profile-container img {
        width: 5rem;
    }
    .bookings-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

    .booking-confirm {
        top: 70px;
    }
}

@media screen and (min-width: 992px) and (min-width: 1024px) {
    .navbar-style-toggler {
        display: none;
    }

    .error-container {
        max-width: 17rem;
    }
    .home-text-content h2 {
        font-size: 1.6rem;
    }
    
    .home-container h2 {
        font-size: 1.5rem;
    }

    .book-now-btn,
    .watch-trailer-btn {
        width: 8rem;
        font-size: .85rem;
    }

    .movie-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        margin: 0 auto; 
    }

    .movie-info-box {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .movie-content img {
        width: 40%;
    }
    
    .movie-text-content h2 {
        font-size: 1rem;
    }
    
    .movie-text-content h3 {
        font-size: .9rem;
        margin-top: 1rem;
    }
    
    .movie-info-box p {
        font-size: .9rem;
    }

    .profile-container {
        padding: 2rem;
    }
    .profile-container img {
        width: 4rem;
    }
    
    .bookings-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .seat {
        width: 2rem;
        height: 2rem;
        font-size: .8rem;
        padding: .45rem;
    }

    .movie-container select {
        font-size: .9rem;
        margin-bottom: 1rem;
    }
}

















