{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for search engines -->
    <meta name="description"
        content="Find and book movie tickets for all of the latest film releases. Browse through our up-to-date cinema showtimes and schedules to check out new movie trailers and find the perfect showtime.">
    <meta name="keywords"
        content="movie tickets, buy movie tickets, purchase movie tickets, movie showtimes, movie schedules, cinema showtimes">
    <meta name="author" content="Nataliia Solomchak">
    <!-- Title -->
    <title>MovieGeek Booking</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Header -->
    <header>
        <a href="{% url 'home' %}"><h1 id="logo">MovieGeek</h1></a>
        <nav>
          <ul id="menu">
            <li><a href="{% url 'home' %}"><iconify-icon icon="ic:round-home" style="color: white;" width="20" height="20"></iconify-icon></a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            <li><a href="{% url 'account_login' %}l">Log In</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
    <!-- Main content -->
    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer>
        <!-- The code for social media icons is taken from Code Institute's Love Running Project -->
        <ul id="social-media">
            <li><a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page(open in a new tab)"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page(open in a new tab)"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page(open in a new tab)"><i class="fa-brands fa-x-twitter"></i></a></li>
            <button class="admin-only-btn"><a href="admin">Admin Only</a></button>
        </ul>
    </footer>
    <!-- Iconify kit -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://kit.fontawesome.com/c5425afe05.js" crossorigin="anonymous"></script>
</body>