{% extends "base.html" %}

{% load static %}

{% block content %}
<input type="hidden" name="selectedMovie" id="selected-movie">

<section class="booking">
    <div class="booking-container">
        <form id="booking-form" method="post" action="{% url 'make_booking' %}">
            {% csrf_token %}
            <div class="movie-container">
                <label for="movie">Choose a movie:</label>
                <select id="movie" name="movie">
                    {% for movie in movies %}
                        <option value="{{ movie.id }}">{{ movie.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="seats">
                <label for="seats">Choose a number of seats:</label>
                <input type="number" name="seats" id="seats" min="1" max="8">
                <p>You can choose up to 8 seats</p>
            </div>
            <div class="select-container">
                <div class="select-box">
                    <label for="date">Select Date</label>
                    <select id="date" name="date">
                        {% for date_value, date_display in date_choices %}
                            <option value="{{ date_value }}">{{ date_display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="select-box">
                    <label for="time">Select Time</label>
                    <select id="time" name="time">
                        {% for time_value, time_display in time_choices %}
                            <option value="{{ time_value }}">{{ time_display }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="total-text">
                <h2>$ <span id="total-price">{{ total_price }}</span></h2>
                <button class="book-btn" type="submit">Book</button>
            </div>
        </form>
    </div>
</section>
{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the query parameter from the URL
        const urlParams = new URLSearchParams(window.location.search);
        const selectedMovieTitle = urlParams.get('movie_title');

        // Set the selected option in the dropdown
        if (selectedMovieTitle) {
            const selectElement = document.getElementById('movie');
            const option = [...selectElement.options].find(option => option.text === selectedMovieTitle);

            if (option) {
                option.selected = true;
            }
        }
    });
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% endblock %}
