{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="delete-confirmation">
    <div class="delete-container">
        <h2>Are you sure you want to delete your booking?</h2>
        <p>Warning: This action cannot be reversed</p>
        <form method="post" action="{% url 'delete_booking' booking_id %}">
            {% csrf_token %}
            <button type="submit">Okay</button>
            <a href="{% url 'profile' %}">Cancel</a>
        </form>
    </div>
</section>
{% endblock %}
