{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="home-box">
    <div class="home-text-content">
        {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <button class="my-bookings-btn"><a href="{% url 'profile' %}">My bookings</a></button>
        {% else %}
        <h1>Welcome to <br> Movie Geek Booking!</h1>
        <p class="intro">We make booking and discovering movies effortless for fellow cinephiles.</p>
        {% endif %}
    </div>
</div>
<section class="home-section">
    <div class="home-container">
            <h2>Now Showing</h2>
        {% for movie in movies %}
    <div class="movie-info-box">
        <div class="movie-content">
            <img src="{{ movie.image.url }}" alt="{{ movie.title }} movie poster">
            <div class="movie-text-content">
                <h2>{{ movie.title }}</h2>
                <h3>{{ movie.rating }} | {{ movie.genre }} | {{ movie.year }}</h3>
                {% if user.is_authenticated %}
                    <button class="book-now-btn">
                        <a href="{% url 'booking' %}?movie_title={{ movie.title }}">Book Now</a>
                    </button>
                {% else %}
                    <button class="book-now-btn">
                        <a href="{% url 'account_login' %}">Book Now</a>
                    </button>
                {% endif %}
                <button class="watch-trailer-btn">
                    <a href="{{ movie.trailer_url }}" target="_blank" rel="noopener" aria-label="Watch {{ movie.title }} trailer (open in a new tab)">Watch Trailer</a>
                </button>
            </div>
        </div>
        <p>{{ movie.description }}</p>
    </div>
{% endfor %}
    </div>
</section>
{%endblock%}