{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="profile">
    <div class="profile-container">
        <img src="{% static 'images/user-icon.jpg' %}" alt="User picture">
        <div class="user-info">
            <h1>natsolomchak</h1>
            <h2>natalia2001727@gmail.com</h2>
        </div>                
    </div>
    <h2 class="bookings-heading">My bookings</h2>
    <div class="bookings-container">
    {% if booking_info_list %}
    {% for booking_info in booking_info_list %}
        <div class="bookings-box">
            <h3>{{ booking_info.date }}, {{ booking_info.time }}</h3>
            <div class="booking-info" data-image="image1">
                <div class="overlay">
                    <h2>{{ booking_info.movie_title }}</h2>
                    <h3>Seats: {{ booking_info.seats }}</h3>
                    <div class="total-info">
                        <h3>${{ booking_info.total_price }}</h3>
                        <div class="booking-btn-group">
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="no-bookings">
        <h4>No bookings yet.</h4>
        <button class="book-movie-btn"><a href="{% url 'booking'%}">Book a movie</a></button>
    </div>
{% endif %}
    </div>
</section>
{% endblock %}
